* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box;
}
:root {
  --cor01: #fdffe2;
  --cor02: #83b4ff;
  --cor03: #5a72a0;
  --cor04: #1a2130;
  --cor05: #ddeafd;
  
}
/*body {
  background:linear-gradient(to right,#1a2130,#10141d);
  background-size: 500%  100%;
  animation-name: background;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-direction:alternate ;
  animation-iteration-count: infinite;
  }
  @keyframes background {
    0% { background-position-x: 0% ; }
    100% { background-position-x: 100% ; }
    }*/
body {
  background-color: var(--cor04);
  margin: 0 3rem;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 0;
  max-width: 1080px;
  margin: 0 auto;
}
.logo img{
  width: 90px;
}

.cabecalho {
  padding:  0.5rem 2rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--cor02);
  position: relative;
}
.cabecalho::after  {
  content: " ";
  width: 0;
  height: 2px;
  background-color: var(--cor02);
  position: absolute;
  bottom: 0;
  left: 0;
}
.cabecalho:hover::after {
  transition: 0.3s ease-in-out;
  width: 100%;
}

.apresentacao__conteudo {
  display: flex;
  margin: 0 auto;
  max-width: 1080px;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2rem;
}
.apresentacao__redeSocial {
  padding-top : 2rem ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 10px;
  
}

.apresentacao__redeSocial a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: var(--cor02);
  border: 1px solid;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
}
.baixar__curriculo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.baixar__curriculo button{
  width: 260px;
  height: 40px;
  color: var(--cor01);
  background: var(--cor04);
  border: 1px solid var(--cor02);
  border-radius: 10px;
}


main h1 {
  font-size: 1.5rem;
}
main strong {
  color: var(--cor02);
}
.apresentacao {
  max-width:300px;;
  color: var(--cor01);
}
.apresentacao p {
  text-align: justify;
  text-indent: 35px;
  margin-top: 15px;
}

.imagemPerfil {
  margin-top: 15px;
  width: 18rem;
  background-color:var(--cor05) ;
  border-radius: 15px;
  box-shadow: 0 0 2px 7px  #5a72a012;
}
.imagemPerfil:hover {
  background-color: var(--cor01);
  transition: 5000ms;
}


@media (max-width: 840px) {
  body {
    margin: 0 2rem;
  }

  .apresentacao {
    width: 25rem;
    color: var(--cor01);
  }
  .apresentacao__redeSocial{
    gap: 0.9rem;
  }
  .apresentacao__redeSocial a {
    height: 50px;
    width: 50px;
  }
  .imagemPerfil {
    width: 16rem;
  }
}

@media (max-width: 750px) {
  body {
    margin: 0 1.5rem;
  }
  .cabecalho {
    padding: 1rem;
    text-decoration: none;
    color: var(--cor02);
  }

  .apresentacao {
    width: 30rem;
    color: var(--cor01);
  }
  .apresentacao__redeSocial{
    gap: 0.9rem;
  }
  .apresentacao__redeSocial a {
    height: 50px;
    width: 50px;
  }
  .imagemPerfil {
    width: 15rem;
  }
}
@media (max-width: 610px) {
  .apresentacao {
    width: 30rem;
    color: var(--cor01);
  }
  .apresentacao__redeSocial{
    gap: 0.7rem;
  }
  .apresentacao__redeSocial a {
    height: 50px;
    width: 50px;
  }
  .imagemPerfil {
    width: 10rem;
  }
}

@media (max-width: 510px) {
  body {
    margin: 0;
  }
  header {
    padding: 3rem 0;
    display:  flex;
    flex-direction:  row;
  }
  .cabecalho {
    font-size: 21px;
    padding: 8px 1rem;
    text-decoration: none;
    color: var(--cor02);
  }

  .apresentacao__conteudo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .apresentacao__redeSocial{
    gap: 0.7rem;
  }
  .apresentacao__redeSocial a {
    height: 60px;
    width: 60px;
  }
  .logo img{
    display: none;
  }
  .apresentacao {
    padding: 0 1px;
    text-align: center;
    width: 20rem;
    color: var(--cor01);
  }
  .apresentacao p{
    padding: 0 20px;
  }
  .baixar__curriculo button{
    width: 280px;
  }
  .imagemPerfil {
    width: 18rem;
  }
}
