
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box;
}
:root {
  --cor01: #fdffe2;
  --cor02: #83b4ff;
  --cor03: #5a72a0;
  --cor04: #1a2130;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .cardFront {
    width: 280px;
    height: 300px;
    background:#5a72a025 ;
    border: 1px solid #cccccc7e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
  }

  .cardBack{
    width: 280px;
    height: 300px;
    background:#d9dce025 ;
    border: 1px solid #cccccc7e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
  }
  