* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box;
}
:root {
  --cor01: #fdffe2;
  --cor02: #83b4ff;
  --cor03: #5a72a0;
  --cor04: #1a2130;
  
}
.apresentacao__conteudo__Sobre{
    text-align: center;
    max-width: 1080px;
    margin: 0 auto;
}

h1 {
  color: var(--cor02);
  margin-bottom: 20px;
}
.apresentacao__Sobre {
  color: var(--cor01);
  display: inline-block;
  text-align: justify;
  width: 60%;
}
.imagemSobre {
  float: right;
  width: 40%;
  padding: 10px 0 10px 30px;
}
.formAlinhamento{
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  background-color: #141c2c;
  margin-top: 60px;
  padding: 15px ;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
}
form h2{
  color: var(--cor02);
  font-size: 1.3rem;
  margin: 20px 0;
  text-align: center;
}
form label{
  color:  var(--cor01);
  margin: 5px 0;
}
form input{
  width: 300px;
  color: var(--cor04);
  border-radius: 3px;
}
form textarea{
  height: 150px;
  color: var(--cor04);
  border-radius: 3px;
}
.btnform{
  margin-top: 20px;
  padding: 5px 0;
  background-color: var(--cor03);
  color: var(--cor01);
  text-shadow:2px 2px #1a2130;
  font-weight: 600;
  border-radius: 5px;
}

@media (max-width:760px) {
    .apresentacao__Sobre {
        width: 90%;
      }
}
@media (max-width:510px) {
    .apresentacao__Sobre {
        width: 85%;
      }
      .imagemSobre {
        width: 45%;
      }
}




